<?xml version="1.0" encoding="utf-8"?>
<configuration>
   <connectionStrings>
     <add name = "dbconnection" connectionString = "Data Source=ASH-SURFACE\HUMBERBRIDGING;Initial Catalog=JOB_PORTAL_DB;Integrated Security=SSPI;" />

   </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/></startup></configuration>
